

/* ///////////////////////////////////////////////////////////////////// 
//  01 - Reset
/////////////////////////////////////////////////////////////////////*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
h1, h2, h3, h4, h5, h6 {	
	clear: both;
}
ul {
	list-style: none;
}

blockquote {
	quotes: none;
	font-family: Georgia, Times, "Times New Roman", serif;
}
blockquote:before, blockquote:after {
	content: '';
	content: none;
}
del {
	text-decoration: line-through;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a img { border: none; }



/* ///////////////////////////////////////////////////////////////////// 
//  02 - Global 
/////////////////////////////////////////////////////////////////////*/

body {
	font-size:13px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	width:auto; height:auto;	
	padding: 0;
	margin: 0;
	color: #717171;	
	background: #f6f6f6;
}

p {
	line-height:1.5em;
	margin: 0 0 20px 0;	
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

li {
	margin: 0 0 0 0;
	padding: 0;
}

img {
	margin: 0;
}

img.noBorder{
	padding: 0;
	background: none;
	border: none;
}

img.left {
	margin: 0 15px 15px 0;
	float: left;
}

a {
	text-decoration: none;
	outline: none;
}

a img {
	border:none;
}

h1, h2, h3, h4, h5{
	font-family: Georgia, Times, "Times New Roman", serif;
	color: #363636;	
	margin: 0 0 15px 0;
	font-weight: normal;
}

blockquote, address {
	margin: 0 0 30px 0;
	padding: 0 30px 0 30px;	
	font-style: italic;
	font-size: 1.2em;	
}

code {
    font-family: "Courier New", Courier, serif;
	overflow: auto;
	padding: 2px;
	background: #fff;
}

pre code {
	background: none;
}

pre {
    margin: 0 0 20px;
	padding: 10px;
	background: #fff;
	overflow: auto;	
	border: 1px solid #e4e4e4;
}

.left {
	float: left;	
}

.right {
	float: right;	
}

.meta {
	color: #b0b0ad;
}

.meta a{
	color: #7d7d7b !important;
}

.meta a:hover{
	color: #b0b0ad !important;
}

.accent {
	color: #b9c68c;	
}

input[type="text"], textarea {
	border: 1px solid #e8e8e8;	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	background: #f2f2f2;
	padding: 5px;
}

textarea {
	padding: 8px;
}

/* Clearfix ----------- */

.clearfix:after {
    content: " ";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}



/* //////////////////////////////////////////////////////////////////////
//  03 - General Layout 
//////////////////////////////////////////////////////////////////////*/

#container {	
	margin: 0 auto;
	width: 960px;		
}

#header {
	width: 100%;
	background: #fff;		
}

#middle {	
	background: #fff;
	padding-top: 20px;		
}

#main {
	margin: 0 auto;
	width: 960px;	
	padding: 0 0 15px 0;			
}

#main.full {
	background: none;
}

#content {		
	padding: 0 0 0 0;		
	float: left;
	margin: 0 0px 0 0;
	position: relative;	
	width: 635px	
}

#sidebar {
	width: 300px;
	float: right;
	margin: 0;
	padding: 0;		
}

#footer {
	width: 960px;
	margin: 0 auto;
}

.oneThird {
	width: 290px;	
}

.twoThird {
	width: 630px;
}

#content.full {
	width: 100%;
}


/*////////////////////////////////////////////////////////////////////////
//  04 - Header
///////////////////////////////////////////////////////////////////////*/

#header{
	padding: 0 0 0 0;
	padding:  0 ;
	position: relative;	
}

#header .top {
	background: #000;
	margin-bottom: 20px;
	width: 100%;	
}

#header .top .inside {
	width: 960px;
	margin: 0 auto;
	padding-top: 1px;
}

#header .bottom {
	width: 960px;
	margin: 0 auto 20px auto;
	position: relative;
}

#logo {		
	float: left;	
	margin: 0px 25px 0px 0;
	font-size: 20px;
	font-weight: bold;
}

#header h1 {
	font-size: 35px;	
	text-transform: uppercase;
	padding: 10px 0 0 0;
	color: #363636;	
}

#header h1 a, #header h1 a:hover{	
	color: #363636!important;	
}

#headerBannerAd {	
	right: 0;	
	position:absolute; top:50%; height:60px; margin-top:-30px;	
}



/*Main Nav------------------*/

#mainNav {
	border-bottom: 1px solid #dcdcdc;	
	-webkit-border-top-right-radius: 7px;
	-webkit-border-top-left-radius: 7px;
	-moz-border-radius-topright: 7px;
	-moz-border-radius-topleft: 7px;
	background: #f2f2f2;
	clear: both;
	width: 960px;
	margin: 0 auto;
}

#mainNav li{
	margin: 0 0 0 10px;	
	display: inline-block;	
}

#mainNav ul ul {
	background: #363636;
}

#mainNav li.current,
#mainNav li.current-cat,
#mainNav li.current_page_item,
#mainNav li.current-menu-item,
#mainNav li.current-category-ancestor,
#mainNav li.current-post-ancestor,
#mainNav li.current_page_parent
{
	padding: 13px 10px 11px 10px;
	-webkit-border-top-right-radius: 7px;
	-webkit-border-top-left-radius: 7px;
	-moz-border-radius-topright: 7px;
	-moz-border-radius-topleft: 7px;
	background: #fff;
	border: 1px solid #dcdcdc;
	border-bottom: none;
	margin-top: -3px;
	margin-bottom: -1px;
}

#mainNav li{
	padding: 10px 10px 10px 10px;
	border: 1px solid #f2f2f2;
	border-bottom: none;
}

#mainNav li:hover{
	padding: 13px 10px 11px 10px;
	-webkit-border-top-right-radius: 7px;
	-webkit-border-top-left-radius: 7px;
	-moz-border-radius-topright: 7px;
	-moz-border-radius-topleft: 7px;
	background: #fff;
	border: 1px solid #dcdcdc;
	border-bottom: none;
	margin-top: -3px;
	margin-bottom: -1px;	
}

#mainNav li:hover li{
	padding: 0;
	-webkit-border-top-right-radius: 0px;
	-webkit-border-top-left-radius: 0px;
	-moz-border-radius-topright: 0px;
	-moz-border-radius-topleft: 0px;
	background: none;
	border: none;
	border-bottom: none;
	margin: 0;		
}

#mainNav li li a:hover {
	color: #a3a3a3 !important;
}

#mainNav a {
	color: #363636;	
}

/*Top Nav------------------*/

#topNav {
	float: left;
	width: 700px;
}

#topNav li{
	margin: 0 0 0 10px;	
	display: inline-block;	
}

#topNav ul ul {
	background: #000;
}

#topNav li{
	margin-right: 15px;
	
}

#topNav li:hover{
	
}

#topNav li:hover li{
	
}

#header .top a {
	color: #929292;	
	padding: 9px 0 10px 0;	
}

#header .top a:hover {
	color: #fff;	
}

#header .top .feedLinks {
	float: right;
	width: 250px;
	display: block;
}

#header .top .feedLinks a{
	float: right;
	
	margin-left: 10px;
}




/*//////////////////////////////////////////////////////////////////// 
//  05 - Content
////////////////////////////////////////////////////////////////////*/


#content .post {
	margin: 0 0 20px 0px;
	position: relative;		
}


#content.single .post {	
	padding-top: 10px;
}

#content .post h1{
	font-size: 27px;
}

.post .meta {
	margin: -8px 0 20px 0;		
	padding: 0 0 0px 0;	
	font-style: italic;
	font-family: Georgia, Times, "Times New Roman", serif;
}

.post.featured {
	padding: 15px 15px 0 15px;
	border: 1px solid #e8e8e8;	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	background: #f2f2f2;
}

.post.featured p,
.post.featured h1{
	margin-right: 0px;
}

.post.secondary {	
	border-bottom: 1px solid #e8e8e8;
	padding-bottom: 3px;	
}

#content.archive .post.secondary {	
	margin-bottom: 25px;
}

#content .post.secondary.small h1{
	font-size: 15px;
	display: inline;
}

#content .post.secondary.small{
	margin-bottom: 15px;
	padding-bottom: 0;
}

#content .post.secondary.small .meta{	
	display: inline-block!important;
	margin-bottom: 15px;
}

.metaCat {
	text-transform: uppercase;
	margin-bottom: 5px;
}

#content .post.secondary.withThumb .inside {
	margin-left: 95px;
}

#content .post.secondary.small.withThumb .inside {
	margin-left: 45px;
	padding-top: 7px;
}

#content .post.lastPost {
	border-bottom: none;
	margin-bottom: 30px;
}

a{
	text-decoration: none;
	color: #4a85a1;	
}

a:hover {
	color: #3e3e34;
	text-decoration: none;
}

#content h1 a, #content h2 a, #content h3 a, #content h4 a, #content h5 a{	
	color: #363636 ;
}

#content h1 a:hover, #content h2 a:hover, #content h3 a:hover, #content h4 a:hover, #content h5 a:hover{	
	color: #8f8f8f ;		
}

#content .featured.withThumb .inside{	
	float: left!important;
	width: 305px;
	margin-left: 20px;
}

#content .featured .inside{	
	margin-left: 5px;
	padding-top: 5px;
}

#content .featured .postThumb{	
	float: left;
	margin-bottom: 15px;
}

#content .secondary .postThumb{	
	position: absolute;	
	top:-3px;
}

#content .secondary.small .postThumb{	
	position: relative;	
	float: left;
	padding: 5px;
	background: #f2f2f2;
	margin-bottom: 10px;
}

.moreLink {
	font-family: Georgia, Times, "Times New Roman", serif;
	font-style: italic;
}

#pageHead {
	color: #363636;	
	
	padding: 0px 0 0px 0;
	margin-bottom: 20px;	
}

#pageHead h1 {
	font-family: Georgia, Times, "Times New Roman", serif;
	font-size: 40px;
	line-height: 1.2em;
	margin-bottom: 0;	
}

#content .featuredCategory {
	float: left;
	margin: 0 20px 20px 0;
	width: 306px;
	padding-top: 5px;
}

#content .featuredCategory.rightColumn{
	margin-right: 0;
}

#content .featuredCategory .post{
	border-bottom: 1px solid #e8e8e8;
	margin-bottom: 15px;
}


#content .featuredCategory .main {	
	padding-bottom: 7px;
}

#content .featuredCategory .main h1{	
	font-size: 22px;
	margin-bottom: 10px;
}

#content .featuredCategory .main .meta{	
	margin: -5px 0 15px 0;
}

#content .featuredCategory .main .alignleft{	
	margin-right: 15px;
	margin-top: 6px;
}

#content .featuredCategory .post.small,
#content .featuredCategory .post.small .meta{		
	margin-bottom: 15px;
}

#content .featuredCategory .small h1{	
	font-size: 14px;
	margin-bottom: 8px;
}

#content .featuredCategory p{	
	
	margin-bottom: 8px;
}

#content .featuredCategory .small h1{	
	margin-bottom: 5px;
}

#content .featuredCategory .small.withThumb h1{	
	margin-left: 42px;
}

#content .featuredCategory .small .meta{	
	margin-top: 0;
}

#content .featuredCategory .small.withThumb .meta{	
	margin-left: 42px;
}

#content .featuredCategory .small .postThumb{	
	position: absolute;
	padding: 5px;
	background: #f2f2f2;
	top: -3px;	
}

/*Images------------------*/

#content .alignleft,
#content img.alignleft {
	display: inline;
	float: left;
	margin-right: 24px;
	margin-top: 4px;
}

#content .alignright,
#content img.alignright {
	display: inline;
	float: right;
	margin-left: 24px;
	margin-top: 4px;
}

#content .aligncenter,
#content img.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#content img.alignleft, 
#content img.alignright, 
#content img.aligncenter {
	margin-bottom: 12px;
}

.gallery {
	margin-bottom: 25px!important;	
}

.gallery-item {
	margin-top: 9px!important;	
}

.gallery img {
	border: none!important;
}

/*Lists------------------*/

#content ul{	
	margin-bottom: 25px;		
}

#content ul li{	
	margin: 0 0 10px 0;
	padding: 0 0 0 10px;	
	line-height: 1.4em;
	background: transparent url(images/list_item_marker.png) 0 7px no-repeat;	
}

#content ol li{	
	margin: 0 0 10px 0;	
	line-height: 1.4em;
}

#content ol{	
	margin: 0 0 20px 20px;	
}

#content ul ul, #content ol ul, #content ul ol, #content ol ol {	
	margin-left: 20px;
	padding-top: 10px;	
}


/*//////////////////////////////////////////////////////////////////// 
//  07 - Buttons
////////////////////////////////////////////////////////////////////*/

.button,
#searchsubmit  {
	
	font-size: 12px;
	background: #4a85a1;	
	display: inline-block;	
	color: #fff!important;
	text-decoration: none;
	position: relative;
	cursor: pointer;
	position:relative;
	top:20px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: bold;	
	padding: 5px 15px 5px;	
	margin: 0 5px 0 0;
	border: none;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;	
}



.button:hover, #searchsubmit:hover {
	background-color: #363636!important;
}


/*//////////////////////////////////////////////////////////////////// 
//  08 - Sidebar
////////////////////////////////////////////////////////////////////*/

#sidebar {
	padding-top: 10px;
}

.sidebarBox {	
	position: relative;
	margin: 0 0 25px 0;	
}

#sidebar p {
	line-height: 1.5em;
	margin-bottom: 12px;
}

.avatar {
	float: left;
	margin: 0 20px 20px 0;
	padding-top: 3px;
}

/*///////////////////////////////////////////////////////////////////// 
//  09 - Widgets
////////////////////////////////////////////////////////////////////*/


#sidebar .widgetBox h3,
#footer .widgetBox h3{
	margin-bottom: 10px;
	font-size: 20px;
	line-height: 1.2em;
}

.oneFourth p {
	line-height: 1.5em !important;
	margin-bottom: 12px !important;
}

#sidebar ul, #footer ul{
	margin: 0 0 0 0;
	padding: 0px 0 0 0;	
	border-top: 1px solid #e8e8e8;
	line-height: 1em;
	background: none;
	position: relative;	
}

#sidebar ul li, #footer ul li{
	padding: 8px 0 9px 0;
	margin: 0 0 0px 0;
	border-bottom: 1px solid #e8e8e8;
	line-height: 1em;
	background: none;	
}

#sidebar ul li p, #footer ul li p{
	line-height: 1.3em;
	margin: 0;
}

#sidebar ul li h2, #footer ul li h2{
	font-size: 13px;
	margin: 0 0 0px 0 ;	
	padding: 0 !important;	
	line-height: 1em;
	font-weight: normal;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#sidebar ul li span, #footer ul li span{	
	padding: 0;
	margin: 0 !important;
}

#sidebar ul li a:hover,
#footer ul li a:hover {
	
}

#sidebar .widget_nav_menu ul,
#footer .widget_nav_menu ul,
#sidebar .widget_pages ul,
#footer .widget_pages ul,
#sidebar .widget_categories ul,
#footer .widget_categories ul {
	background: none;
	margin: 0;
	padding: 0;
	border: none;
}

#sidebar .widget_nav_menu li,
#footer .widget_nav_menu li,
#sidebar .widget_pages li,
#footer .widget_pages li,
#sidebar .widget_categories li,
#footer .widget_categories li {
	padding: 0 0 0 13px;
	margin: 10px 0 0 0;
	background: transparent url(images/list_item_marker.png) 0 5px no-repeat;	
	border: none;	
}

/*Search------------------*/

#s {
	margin: 0 10px 0 0;
	width: 194px;
	padding: 5px;
}

#searchsubmit{
	padding: 5px 10px 5px !important;
	font-size: 11px !important;
}


/*Recent Posts Widget------------------*/

#sidebar .ttrust_recent_posts .meta,
#footer .ttrust_recent_posts .meta {
	margin: 0 0 5px 0 !important;
	display: block;
	padding: 0;	
}

.firstPost {
	border-bottom: 1px solid #e8e8e8;	
}

.firstPost h2{
	font-size: 15px;	
}

.secondaryPost {
	border-bottom: 1px solid #e8e8e8;
	padding: 10px 0 10px 0;	
}

.secondaryPost h2{
	font-size: 14px !important;
	margin: 0;
}


/*Calendar Widget--------------------*/
table#wp-calendar {
	width: 100%;
}

table#wp-calendar td, table#wp-calendar th{
	text-align: left;
}

table#wp-calendar td {
	color: #b0b0ad;
	padding-top: 10px;
}

table#wp-calendar td a{
	font-weight: bold;
}

#wp-calendar caption {
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #e8e8e8;
	font-size: 14px;	
	font-weight: bold;	
}

/*Tag Widget--------------------*/

.widget_tag_cloud a{	
	font-size: 11px !important;
	padding: 7px;	
	display: block;
	float: left;
	margin: 0 5px 5px 0;	
}

#footer .widget_tag_cloud a,
#sidebar .widget_tag_cloud a{
	background: #eaeaea;	
}

.widget_tag_cloud:after {
    content: " ";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.widget_tag_cloud {
    display: inline-block;
}

html[xmlns] .widget_tag_cloud {
    display: block;
}

* html .widget_tag_cloud {
    height: 1%;
}

/*Twitter Widget--------------------*/

#twitter_div{
	margin: 0 0 10px 0;
}

#twitter_div li{
	line-height: 1.4em !important;	
}

.twitterLink a{	
	font-family: Georgia, Times, "Times New Roman", serif;
	font-style: italic;
}

/*Flickr Widget--------------------*/
#flickrBox .flickrImage {
	float: left;
	margin: 0 11px 11px 0;
}

#flickrBox .flickrImage img{
	background: #f2f2f2;
	padding: 5px;
}




/*///////////////////////////////////////////////////////////////////// 
//  10 - Comments
////////////////////////////////////////////////////////////////////*/
	
#comments {
	position: relative;
	margin: 30px 0 30px 0px;
	width: 590px;		
	padding: 0;
}

#trackbacks {
	margin: 30px 0 0 40px;
}

ol#commentslist {
	margin: 0 0 0 0px;
	list-style: none;
	padding: none;	
	padding: 0;
}

#commentslist .children li {
	padding: 15px 0 0 40px;
	background: transparent url(images/comment_marker.gif) no-repeat 0px 40px;
	border-left: 1px solid #cbcbcb;
	margin: 0;
}
	
.comment {
	position: relative;
	margin: 0 0 0 0;
	padding: 0 0 20px 0;		
}

.comment .avatar {
	position: absolute;
	left: 0;
	top: 0;	
}

#commentForm h3 {
	font-size: 19px;
}

.comment h5 {
	font-size: 16px;
	margin: 0 0 0 110px;
	padding: 0;	
}

.comment .date {	
	margin: 0 0 10px 110px;	
	display: block;
}

.comment p {	
	margin: 0 0 10px 110px;
}

.comment-reply-link,
.comment-reply-login {
	margin: 0 0 0 110px;
}

.comment-reply {
	display: inline-block!important;
	padding: 0 0 0 10px;
}

#comment-add {
	position: absolute;
	top: -5px;
	right: 0px;
}

.moderation {
	margin: 0px;
	padding: 0 0 10px 25px;	
}

#comment-navigation {
	position: absolute;
	top: 0px;
	right: 0px;
}

.older-comments,
.newer-comments {
	display: block;
	float: left;
	width: auto;
	height: 24px;
	line-height: 24px;
	margin: 0px;
	padding: 0 8px;	
	border-right: 1px solid #e4e4e4;
	border-left: 1px solid #e4e4e4;
	text-align: center;
	text-decoration: none;
}

a:hover span.newer-comments,
a:hover span.older-comments {
	
}

.newer-comments {
	float: right;
	margin: 0 0 0 10px;
}

#trackbacks ul {
	margin: -5px 0 15px;
}

#trackbacks ul li {
	padding: 5px 0 5px 20px;	
}



/* Comment Form */
	
#commentForm {
	position: relative;
	margin: 0 0 30px 0px;
}

#comments #respond {
	position: relative;
	padding: 0 0 0;
	margin: 0;
}

#respond .form-allowed-tags {
	display: none;
}


#respond form {
	margin: none;
	padding: none;
	position: relative;
}

.cancel-comment-reply {
	float: right;
	margin: 5px 90px 0 0;
}




/*//////////////////////////////////////////////////////////////////// 
//  11 - Pagination
////////////////////////////////////////////////////////////////////*/
	
.pagination {
	width: 950px;
	padding: 0 0 20px;	
	clear: both;
	position:relative;
	top:20px;
	font-weight: bold;
	margin: 0 0 15px 0;
	font-family: Georgia, Times, "Times New Roman", serif;
}

.pagination-prev a,
.pagination-next a,
.wp-pagenavi a,
.wp-pagenavi .current,
.wp-pagenavi .pages,
.older-comments,
.newer-comments {
	display: block;
	float: left;
	width: auto;
	height: 24px;
	line-height: 24px;
	margin: 0 5px 0 0;
	padding: 0 8px;	
	text-align: center;
	text-decoration: none;
}

.pagination-prev a:hover,
.pagination-next a:hover,
.wp-pagenavi a:hover,
.wp-pagenavi .current {
	background: #000000;
	color:#fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;	
}

.pagination-prev a,
.pagination-next a {
	float: none;
	margin: 0px;
}

.pagination-prev,
.pagination-next {
	float: left;
	width: auto;
	margin: 0px;
}

.pagination-prev {
	float: right;
}

.wp-pagenavi .pages {
	float: right;
	margin: 0px;
}


/*//////////////////////////////////////////////////////////////////// 
//  12 - Footer
////////////////////////////////////////////////////////////////////*/

#footer {	
	width: 100%;
	border-top: 1px solid #e8e8e8;
}

#footer .inside {
	width: 960px;
	margin: 0 auto;
}

#footer .main{	
	padding: 35px 0 10px 0;	
	margin: 0 0px 35px -40px;	
}

.footerBox{
	margin: 0 0 40px 40px;	
	float: left;
	position: relative;
}

.footerBox p{			
	padding: 0;	
}

#footer .secondary {
	color: #a9a9a9;	
	font-family: Georgia, Times, "Times New Roman", serif;
	font-style: italic;
	*border-top: 1px solid #e8e8e8;
	padding-top: 20px;
}

#footer .secondary a {
	color: #848484;	
}

#footer .secondary a:hover {
	color: #9d9d9a;
	text-decoration: none;	
}

#footer .secondary .left {
	float: left;
}

#footer .secondary .right {
	float: right;
}